/* .header-image {
    background-image: url(“C:\anganwadi_project\src\assets\images\fantasy.jpg”);
background-position: center;
background-repeat: no-repeat;
position: relative;
background-size: cover;
    } */