.p-3 {
    padding: 0rem !important;
}
.shadow-lg  {
    margin: 20px;
    box-shadow: p-3 mb-5 bg-white rounded;
}

.create-option-thumb-img img {
    width: 100%;
    height: 350px;
    /* height: auto; */
    vertical-align: bottom;
    z-index: -1;
}