    <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2">
        <h3 style="margin-top: 20px;font-family: Gabriola;font-weight: bold;">Members Details </h3>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <label style="margin-top: 40px;">From Dt.</label>
        <!-- [max]="current_date_str" -->
        <!-- <input type="date" [ngModel] ="dt | date:'yyyy-MM-dd'" (ngModelChange)="dt = $event"> -->
        <input class="form-control" type="date" [max]="current_date_str" [(ngModel)]="from_date" >
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <label style="margin-top: 40px;">To Dt.</label>
        <!-- [max]="current_date_str"  -->
        <!-- import { FormsModule } from '@angular/forms'; import this in main admin module..then only [(ngModel)] can be applicable -->
        <input class="form-control" type="date" [max]="current_date_str" [(ngModel)]="to_date" >
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2" style="margin-top: 45px;">
        <input type="submit"  class="btn btn-sm btn-primary" value="..." (click)="retrieve();" style="margin-top: 25px; height: 34px;"/>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2" style="margin-top: 45px;">
        <button class="btn btn-sm btn-success" (click)="downloadtoExcel();" style="margin-top: 25px; height: 34px;">Download</button>
    </div>
</div>
<div class="shadow-lg p-3 mb-5 bg-white rounded">
<table class="table table-striped" id="excel-table">
    <tr style="background-color: #6D6968;color: white;margin-top: 40px;">
        <td>Aadhar No.</td>
        <td>Name</td>
        <td>Mobile No.</td>
        <td>District</td>
        <td>Project</td>
        <td>Pmnt Conf</td>
        <td>Dist Conf</td>
        <td>GL No.</td>
    </tr>
    <!-- data-label is used for mobile responsive and the value assigned in each is the name assigned in td tags above -->
    <tr *ngFor="let a of retrieve_array">
        <td data-label="Aadhar No.">
            <span>{{a.aadharno}}</span>
        </td>
        <td data-label="Name">
            <span>{{a.empname}}</span>
        </td>
        <td data-label="Mobile No.">
            <span>{{a.phoneno}}</span>
        </td>
        <td data-label="District">
            <span>{{a.districtcode}}-{{a.district_desc}}</span>
        </td>
        <td data-label="Project">
            <span>{{a.projectcode}}-{{a.project_desc}}</span>
        </td>
        <td data-label="Pmnt Conf">
            <span>{{a.conf_flag}}</span>
        </td>
        <td data-label="Dist Conf">
            <span>{{a.dist_conf}}</span>
        </td>
        <td data-label="GL No.">
            <span>{{a.glno}}</span>
        </td>
        
    </tr>
</table>
</div>

